label #{desc}
    select(id='element-#{id}' class='field')
        option #{defaultOption || 'Alternative default label'}
        each option in options
            option(value=option.value) #{option.label}
include ./validation_template.jade
