label #{desc}
    .lozenges
        if selectedValues
            each lozenge in selectedValues
                span.lozenge #{lozenge.label}
                    a.icon.icon-cross(href="#" data-value=lozenge.value)
    .input-wrapper
        input(type='text', id='element-#{id}' class='field' placeholder='#{desc}' disabled=disabled!==undefined)
        a.hint-trigger.icon.icon-chevron-down(href="#")
        ul.hint-container.closed
            each option in options
                li.hint
                    a(href='#' data-value=option.value) #{option.label}

include ./validation_template.jade
